<div class="container-md">
    <h1 class="mb-5"> Current player {{currPlayer}}</h1>

    <button type="button" class="btn btn-secondary mb-4" (click)="newGame()">Start New Game</button>
    
    <div *ngIf="winner" [ngClass]="{'winner-grn': winner == 'X', 'winner-blue': winner == 'O'}">
       <h1>The winner is {{winner}}</h1> 
    </div>
    
    <main>
        <app-player 
            *ngFor="let val of squares; let i = index"
            [player]="val"
            (click)="makeMove(i)">
            
        </app-player>
    </main>
</div>
