main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 2px;
    background-color: black;
}

app-player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: white;
}

.container-btns {
    width: 100%;
    justify-content: space-between;
}

.container-md {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winner-grn {
    color: #198754;
}

.winner-blue {
    color: #0d6efd;
}