<div class="container-md mt-3">
    <div class="d-flex mt-4 mb-3 gap-3 container-btns">
        <button class="btn btn-primary" routerLink="/start" style="width: 50px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </button>
        <button type="button" class="btn btn-secondary" style="width: 200px;" (click)="newGame()">Start New Game</button>
        <div style="width: 50px;"></div>
    </div>
    
    <h1 class="mb-5"> Current player: {{currPlayer}}</h1>
    <div *ngIf="winner" [ngClass]="{'winner-grn': winner == 'X', 'winner-blue': winner == 'O'}">
        <h1 >
            <span *ngIf="winner != 'draw'">The winner is {{winner}}!</span>
            <span *ngIf="winner == 'draw'">It is a draw</span>
        </h1> 
    </div>
    
    <main>
        <app-player 
            *ngFor="let val of squares; let i = index"
            [player]="val"
            (click)="makeMove(i)">
        </app-player>
    </main>
</div>
